:root {
    --flux-table-background-color: var(--flux-color-scheme-background, #ffffff);
    --flux-table-border-color: var(--flux-color-scheme-foreground, #000000);
    --flux-table-border-style: solid;
    --flux-table-border-width: 1px;
    --flux-table-even-row-background-color: var(--flux-table-background-color);
    --flux-table-even-row-border-color: var(--flux-table-border-color);
    --flux-table-even-row-border-style: var(--flux-table-border-style);
    --flux-table-even-row-border-width: var(--flux-table-border-width);
    --flux-table-even-row-font-size: var(--flux-table-font-size);
    --flux-table-even-row-font-weight: var(--flux-table-font-weight);
    --flux-table-even-row-foreground-color: var(--flux-table-foreground-color);
    --flux-table-even-row-padding: var(--flux-table-padding);
    --flux-table-even-row-text-align: var(--flux-table-text-align);
    --flux-table-even-row-vertical-align: var(--flux-table-vertical-align);
    --flux-table-font-size: 16px;
    --flux-table-font-weight: normal;
    --flux-table-foreground-color: var(--flux-color-scheme-foreground, #000000);
    --flux-table-header-row-background-color: var(--flux-color-scheme-accent, #000000);
    --flux-table-header-row-border-color: var(--flux-color-scheme-accent-foreground, #ffffff);
    --flux-table-header-row-border-style: var(--flux-table-border-style);
    --flux-table-header-row-border-width: var(--flux-table-border-width);
    --flux-table-header-row-font-size: var(--flux-table-font-size);
    --flux-table-header-row-font-weight: bold;
    --flux-table-header-row-foreground-color: var(--flux-color-scheme-accent-foreground, #ffffff);
    --flux-table-header-row-padding: var(--flux-table-padding);
    --flux-table-header-row-text-align: var(--flux-table-text-align);
    --flux-table-header-row-vertical-align: var(--flux-table-vertical-align);
    --flux-table-no-rows-row-background-color: var(--flux-table-background-color);
    --flux-table-no-rows-row-font-size: var(--flux-table-font-size);
    --flux-table-no-rows-row-font-weight: var(--flux-table-font-weight);
    --flux-table-no-rows-row-foreground-color: var(--flux-table-foreground-color);
    --flux-table-no-rows-row-padding: var(--flux-table-padding);
    --flux-table-no-rows-row-text-align: center;
    --flux-table-no-rows-row-vertical-align: var(--flux-table-vertical-align);
    --flux-table-odd-row-background-color: var(--flux-table-background-color);
    --flux-table-odd-row-border-color: var(--flux-table-border-color);
    --flux-table-odd-row-border-style: var(--flux-table-border-style);
    --flux-table-odd-row-border-width: var(--flux-table-border-width);
    --flux-table-odd-row-font-size: var(--flux-table-font-size);
    --flux-table-odd-row-font-weight: var(--flux-table-font-weight);
    --flux-table-odd-row-foreground-color: var(--flux-table-foreground-color);
    --flux-table-odd-row-padding: var(--flux-table-padding);
    --flux-table-odd-row-text-align: var(--flux-table-text-align);
    --flux-table-odd-row-vertical-align: var(--flux-table-vertical-align);
    --flux-table-padding: 10px;
    --flux-table-text-align: start;
    --flux-table-vertical-align: top;
}
