:host {
    background-color: var(--flux-table-background-color);
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

.actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    height: auto;
    width: 100%;
}

.actions:empty {
    display: none;
}

.actions:not(:empty) + table {
    margin-top: 10px;
}

table {
    height: auto;
    width: 100%;
}

table, thead, tbody, tfoot, tr, th, td {
    border: var(--flux-table-border-width) var(--flux-table-border-style) var(--flux-table-border-color);
    border-collapse: collapse;
}

th {
    background-color: var(--flux-table-header-row-background-color);
    border-right: none;
    color: var(--flux-table-header-row-foreground-color);
    font-size: var(--flux-table-header-row-font-size);
    font-weight: var(--flux-table-header-row-font-weight);
    padding: var(--flux-table-header-row-padding);
    text-align: var(--flux-table-header-row-text-align);
    vertical-align: var(--flux-table-header-row-vertical-align);
}

th:not(:first-child) {
    border-left: var(--flux-table-header-row-border-width) var(--flux-table-header-row-border-style) var(--flux-table-header-row-border-color);
}

tr:nth-child(even) td {
    background-color: var(--flux-table-even-row-background-color);
    color: var(--flux-table-even-row-foreground-color);
    font-size: var(--flux-table-even-row-font-size);
    font-weight: var(--flux-table-even-row-font-weight);
    padding: var(--flux-table-even-row-padding);
    text-align: var(--flux-table-even-row-text-align);
    vertical-align: var(--flux-table-even-row-vertical-align);
}

tr:nth-child(even) td:not(:last-child) {
    border-right: var(--flux-table-even-row-border-width) var(--flux-table-even-row-border-style) var(--flux-table-even-row-border-color);
}

tr:nth-child(odd) td {
    background-color: var(--flux-table-odd-row-background-color);
    color: var(--flux-table-odd-row-foreground-color);
    font-size: var(--flux-table-odd-row-font-size);
    font-weight: var(--flux-table-odd-row-font-weight);
    padding: var(--flux-table-odd-row-padding);
    text-align: var(--flux-table-odd-row-text-align);
    vertical-align: var(--flux-table-odd-row-vertical-align);
}

tr:nth-child(odd) td:not(:last-child) {
    border-right: var(--flux-table-odd-row-border-width) var(--flux-table-odd-row-border-style) var(--flux-table-odd-row-border-color);
}

tr td[colspan] {
    background-color: var(--flux-table-no-rows-row-background-color);
    color: var(--flux-table-no-rows-row-foreground-color);
    font-size: var(--flux-table-no-rows-row-font-size);
    font-weight: var(--flux-table-no-rows-row-font-weight);
    padding: var(--flux-table-no-rows-row-padding);
    text-align: var(--flux-table-no-rows-row-text-align);
    vertical-align: var(--flux-table-no-rows-row-vertical-align);
}

[data-column_format_type="flux-table-actions"] {
    width: 0;
}

.row_actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

button {
    cursor: default;
    flex-grow: 0;
    flex-shrink: 0;
}

button:not(:disabled) {
    cursor: pointer;
}
