:root, :host {
    --table-background-color: #ffffff;
    --table-border-color: #000000;
    --table-border-style: solid;
    --table-border-width: 1px;
    --table-even-row-background-color: var(--table-background-color);
    --table-even-row-border-color: var(--table-border-color);
    --table-even-row-border-style: var(--table-border-style);
    --table-even-row-border-width: var(--table-border-width);
    --table-even-row-font-size: var(--table-font-size);
    --table-even-row-font-weight: var(--table-font-weight);
    --table-even-row-foreground-color: var(--table-foreground-color);
    --table-even-row-padding: var(--table-padding);
    --table-even-row-text-align: var(--table-text-align);
    --table-even-row-vertical-align: var(--table-vertical-align);
    --table-font-size: 16px;
    --table-font-weight: normal;
    --table-foreground-color: #000000;
    --table-header-row-background-color: #000000;
    --table-header-row-border-color: #ffffff;
    --table-header-row-border-style: var(--table-border-style);
    --table-header-row-border-width: var(--table-border-width);
    --table-header-row-font-size: var(--table-font-size);
    --table-header-row-font-weight: bold;
    --table-header-row-foreground-color: #ffffff;
    --table-header-row-padding: var(--table-padding);
    --table-header-row-text-align: var(--table-text-align);
    --table-header-row-vertical-align: var(--table-vertical-align);
    --table-no-rows-row-background-color: var(--table-background-color);
    --table-no-rows-row-font-size: var(--table-font-size);
    --table-no-rows-row-font-weight: var(--table-font-weight);
    --table-no-rows-row-foreground-color: var(--table-foreground-color);
    --table-no-rows-row-padding: var(--table-padding);
    --table-no-rows-row-text-align: center;
    --table-no-rows-row-vertical-align: var(--table-vertical-align);
    --table-odd-row-background-color: var(--table-background-color);
    --table-odd-row-border-color: var(--table-border-color);
    --table-odd-row-border-style: var(--table-border-style);
    --table-odd-row-border-width: var(--table-border-width);
    --table-odd-row-font-size: var(--table-font-size);
    --table-odd-row-font-weight: var(--table-font-weight);
    --table-odd-row-foreground-color: var(--table-foreground-color);
    --table-odd-row-padding: var(--table-padding);
    --table-odd-row-text-align: var(--table-text-align);
    --table-odd-row-vertical-align: var(--table-vertical-align);
    --table-padding: 10px;
    --table-text-align: start;
    --table-vertical-align: top;
}
